<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment analysis tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Template specific styles -->
    {% block styles %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Jinja macros-->
    {% from 'macros/modals.html' import modal %}
</head>
<body>

<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span><img id="logo" class="center" src="{{ url_for('static', filename='images/sentiment_meter.png')}}"></span>
    </div>
    <div class="navbar-start center">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <h1 id="navbar-title">Simple Sentiment Analysis</h1>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <span class="icon is-large has-text-black is-clickable open-info-modal" data-target="info-modal">
                <i class="mdi mdi-help-circle-outline mdi-36px"></i>
            </span>
        </div>
    </div>
</nav>
<!-- /Navbar -->

<!-- Breadcrumbs -->
<nav class="breadcrumb m-4 is-small" aria-label="breadcrumbs">
    <ul>
        {% block breadcrumbs %} {% endblock %}
    </ul>
</nav>
<!-- /Breadcrumbs -->

<!-- Main content -->
<main>
    <!--Content in box-->
    <div class="m-5 pb-8 content">
        {% block main %} {% endblock %}
    </div>

</main>


<!-- Info modal -->
{{ modal("info-modal", "Sentiment Analysis Tool",
        ["Quick and simple sentiment analysis tool that lets user upload Excel containing textual feedback and provides a dashbord with sentiment analysis of the uploaded text.", 
        "The sentiment analysis tool is built using a Flask server and the nltk Python library."
        ])
}}

<!-- Footer -->
<footer class="center background-dark m-0">
    <p class="text-light">Simple Sentiment Analysis by <a href="https://github.com/jenniferfi">Jennifer Finnilä</a>.
    </p>
</footer>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% block scripts %} {% endblock %}
</html>